<div class="left fl">
    <div ui-view></div>
    <pagination ng-if="$state.is('blog.category')" page="page" total="pageTotal" action="go"></pagination>
</div>
<div class="right fr">
    <section class="box">
        <h2 class="title">最新评论</h2>
        <ul>
            <li><a href="">分类1</a></li>
            <li><a href="">分类2</a></li>
            <li><a href="">分类3</a></li>
            <li><a href="">分类4</a></li>
        </ul>
    </section>
    <section class="box">
        <h2 class="title">标签集</h2>
        <div class="tags">
            <ul>
                <li><a class="item" href="">标签1</a></li>
                <li><a class="item" href="">标签2</a></li>
                <li><a class="item" href="">标签3</a></li>
                <li><a class="item" href="">标签4</a></li>
            </ul>
        </div>
    </section>
</div>
<div class="clear"></div>